[Desktop Entry]
Encoding=UTF-8
Name=Edco-Qt Regtest
Comment=Edco P2P gaming related cryptocurrency - REGTEST
Comment[fr]=Edco regtest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Edco regtest, eşten eşe kriptografik sanal para birimi
Exec=edco-qt --regtest %u
Terminal=false
Type=Application
Icon=edco128-regtest
MimeType=x-scheme-handler/edco;
Categories=Office;Finance;
