# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Edco Daemon Testnet (reindex)
Icon=${SNAP}/edcod128testnet.png
MimeType=x-scheme-handler/edco;
Exec=edcod %u --testnet --reindex
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Edco Digital Currency Testnet Daemon (reindex) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;edco;testnet;daemon;server;crypto;currency;snap;snapcraft;reindex;
Name[de_DE]=edcod-testnet-reindex.desktop.desktop
